/*
 * @Author: mikey.FengHongying 
 * @Date: 2017-10-22 17:09:08 
 * @Last Modified by:   mikey.FengHongying 
 * @Last Modified time: 2017-10-22 17:09:08 
 */
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="public/images/default_wap/vue.js"></script>
<style>


</style>
<div>
    <p>
        &lt;i-button&gt;默认按钮&lt;/i-button&gt;<br/>&lt;i-button&nbsp;class=&quot;primary&quot;&gt;主要按钮&lt;/i-button&gt;<br/>&lt;i-button&nbsp;class=&quot;warning&quot;&gt;警告按钮&lt;/i-button&gt;&nbsp;
    </p>
    <p>
        <br/>
    </p>
</div>
<div id="example-4">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>
<script>

    new Vue({
        el: '#example-4',
        data: {
            picked: 'Two'
        }
    })

</script>
</body>
</html>