<% include header_index.html %>

    <style>
        .header {
            width: 100vw;
            background: white;
        }

        .header_div {
            width: 355px;
            margin: 0 auto;
        }

        .header_div img {
            width: 20px;
            height: 20px;
            margin-top: 12px;
        }

        .header_div p {
            font-size: 15px;
            color: #181818;
            line-height: 44px;
            text-align: center;
        }

        body {
            background: rgb(243, 243, 243);
        }



        .address_list {
            width: 100vw;
        }

        .address_div {
            width: 100vw;
            height: 120px;
            background: white;
            margin-top: 10px;
            border-radius: 6px;
        }

        .top {
            width: 100vw;
            height: 87px;
            border-bottom: 1px solid rgb(239, 239, 244);
        }

        .bottom {
            width: 100vw;
            height: 32px;
        }

        .m10 {
            width: 355px;
            margin: 0 10px;
        }

        .recever {
            line-height: 24px;
            padding-top: 10px;
            font-size: 15px;
            color: #535353;
            height: 24px;
        }

        .address_txt {
            line-height: 18px;
            color: #adadad;
            font-size: 12px;
        }

        .left img {
            width: 15px;
            height: 15px;
            margin-top: 8.5px;
            margin-left: 10px;
        }

        .left p {
            font-size: 12px;
            line-height: 32px;
            color: #adadad;
            margin-left: 5px;
        }

        .right div {
            margin-right: 10px;
            margin-top: 6px;
        }

        .right p {
            font-size: 12px;
            line-height: 32px;
            margin-right: 5px;
        }

        .weui-switch,
        .weui-switch-cp__box {
            width: 37px;
            height: 17px;
        }

        .weui-switch-cp__box:after,
        .weui-switch:after {
            width: 15px;
            height: 15px;
        }

        .weui-switch-cp__box:before,
        .weui-switch:before {
            width: 37px;
            height: 17px;
        }

        .weui-switch-cp__input:checked~.weui-switch-cp__box,
        .weui-switch:checked {
            background: #ff8000;
            background-color: #ff8000;
        }

        .weui-switch-cp__input:checked~.weui-switch-cp__box,
        .weui-switch:checked {
            border-color: #ff8000;
        }

        .left,
        .right {
            margin: 0 10px;
        }

        .bottom_div {
            position: fixed;
            bottom: 0;
            width: 100vw;
            line-height: 44px;
            text-align: center;
            font-size: 17px;
            color: white;
            background: linear-gradient(to right, #fdd765, #feb900);
        }
    </style>
    <div class="big_div">
        <top :title="lang._024"></top>



        <div class="address_list" v-for="(address,index) in address_list">
            <div class="address_div">
                <div class="top">
                    <p class="recever m10">{{lang._025}}：{{address.consignee}}
                        <d class="fr">address.mobile</d>
                    </p>
                    <p class="address_txt sl2 m10">{{lang._026}}：{{address.province}} {{address.city}} {{address.county}} {{address.address}}</p>
                </div>
                <div class="bottom">
                    <div class="fr left">
                        <a @click="deletes(address.uid,index)">
                            <img src="images/default_wap/delete.png" class="fl" alt="">
                            <p class="detele fl">{{lang._027}}</p>
                        </a>
                        <a v-bind:href="'/address_add?uid='+address.uid">
                            <img src="images/default_wap/edit1.png" class="fl" alt="">
                            <p class="detele fl">{{lang._028}}</p>
                        </a>
                    </div>
                    <div class="fl right">
                        <p class="fr">{{lang._029}}</p>
                        <div class="weui-cell__ft fr">
                            <input checked="checked" class="xx weui-switch"  type="checkbox"  v-if="address.is_buy==1" disabled="disabled">
                            <input class="weui-switch" type="checkbox" @click="selects(address.uid,index)" v-if="address.is_buy!=1">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <a href="./address_add">
            <div class="h44 bottom_div">
                {{lang._030}}
            </div>
        </a>



    </div>

    <script src="dist/address.bundle.js"></script>
    <script>
       Vue.use(bundle);
    </script>






    <!--底部栏-->
    <% include footer.html %>