<% include header_index.html %>

    <style>
        .header {
            width: 100vw;
            background: white;
        }

        .header_div {
            width: 355px;
            margin: 0 auto;
        }

        .header_div img {
            width: 20px;
            height: 20px;
            margin-top: 12px;
        }

        .header_div p {
            font-size: 15px;
            color: #181818;
            line-height: 44px;
            text-align: center;
        }

        body {
            background: rgb(243, 243, 243);
        }

        .bottom_div {
            position: fixed;
            bottom: 0;
            width: 100vw;
            line-height: 44px;
            text-align: center;
            font-size: 17px;
            color: white;
            background: linear-gradient(to right, #7bcfba, #0db4be);
        }

        .divs {
            width: 100vw;
            background: white;
            line-height: 44px;
        }

        .mt10 {
            margin-top: 10px;
        }

        .left_txt {
            font-size: 15px;
            color: #535353;
            width: 150px;
        }

        .ml10 {
            margin-left: 10px;
        }

        .input_right {
            border: none;
            height: 44px;
            width: 205px;
            text-indent: 10px;
            text-align: right;
            margin-right: 10px;
        }

        textarea {
            width: 205px;
            text-indent: 10px;
            text-align: right;
            margin-right: 10px;
            border: none;
            height: 100px;
            line-height: 30px;
            resize: none;
        }

        .h100 {
            height: 100px;
        }

        input,
        textarea {
            outline: none;
        }
    </style>
    <script src="images/default_wap/picker.js"></script>
    <script src="images/default_wap/picker-city.js"></script>
    <div class="big_div">
        <top :title="lang._014"></top>
        


        <div class="mt10 divs h44">
            <p class="left_txt ml10 fl">{{lang._015}}</p>
            <input type="text" v-model="receiver" class="input_right fl">
        </div>

        <div class="mt10 divs h44">
            <p class="left_txt ml10 fl">{{lang._016}}</p>
            <input type="text" v-model="phone_num" class="input_right fl" placeholder="请正确填写">
        </div>

        <div class="mt10 divs h44">
            <p class="left_txt ml10 fl">{{lang._017}}</p>
            <input type="text" class="input_right fl" v-model="ssx" placeholder="请选择" id="ssx">
        </div>

        <div class="mt10 divs h100">
            <p class="left_txt ml10 fl">{{lang._019}}</p>
            <textarea name="input_right fl" v-model="address" cols="30" rows="10" placeholder="请不要重复填写省市区"></textarea>
            <!--<input type="text" class="input_right fl" style="height: 60px;" placeholder="请选择">-->
        </div>

        <div class="mt10 divs h44">
            <p class="left_txt ml10 fl">{{lang._018}}</p>
            <input type="text" v-model="zipcode" class="input_right fl" placeholder="">
        </div>

        <div class="h44 bottom_div" @click="submits()">
            {{lang._020}}
        </div>

    </div>
    <script src="dist/address_add.bundle.js"></script>
    <script>
       Vue.use(bundle);
    </script>






    <!--底部栏-->
    <% include footer.html %>