<% include header_index.html %>

<style>

    .header{
        width: 100vw;
        background: white;
    }
    .header_div{
        width: 355px;
        margin: 0 auto;
    }
    .header_div img{
        width: 20px;
        height:20px;
        margin-top: 12px;
    }
    .header_div p{
        font-size: 15px;
        color: #181818;
        line-height: 44px;
        text-align: center;
    }
    
    
    body{
        background: rgb(243,243,243);
    }
    .weui-navbar__item img{
        height:4px;
        display: none;
    }
    .weui-bar__item--on img{
        display: block;
        margin: 0 auto;
        margin-top: 7px;
    }
    .weui-tab__bd{
        width: 100vw;

    }
    .weui-tab{
        width: 100vw;
        float: left;
    }
    .hide1{
        width: 327px;
        float: left;
        height: 44px;
        overflow: hidden;
    }
    .hide{
        width: 100vw;
        overflow:hidden;
        overflow: scroll;
        height:44px;

    }
    ::-webkit-scrollbar {/*隐藏滚轮*/
        display: none !important;
    }
    .show{
        width: 1200px;
        height:44px;
    }
    .down{
        float: left;
        height:15px;
        margin: 14.5px 16.5px;
    }
    .down_div{
        float: left;
        width:48px;
        height: 44px;
    }
    .auction_list{
        width: 100vw;
        float: left;
    }
</style>
<div class="big_div">
    <top title="拍卖疯抢">

    </top>
    <!-- 顶部栏 -->
    <cate @change-status="cs">
         
    </cate> 
    <!-- 下面三个分类 -->
       
        
    
    <!--滚动栏-->


    <div class="auction_list">
        <product v-for="auction in auction_list" :auction="auction" :imgurl="config.union_img_url"></product>
        <!-- 商品列表 -->
    </div>

    <screen></screen>
    <totop></totop>
    <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
</div>
<script src="dist/auction.bundle.js"></script>
<script>
    Vue.use(bundle);
</script>






<!--底部栏-->
<% include footer.html %>
