<div class="bottom"></div>
<!--底部镂空-->


<div class="weui-tab_xx">
    <div class="weui-tabbar">
        <a href="./index" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/default_wap/index.png" alt="">
            </div>
            <p class="weui-tabbar__label">购物</p>
        </a>
        <a href="supply" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/default_wap/gq.png" alt="">
            </div>
            <p class="weui-tabbar__label">供求</p>
        </a>
        <a href="./cart" class="weui-tabbar__item">
            <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">9998</span>-->
            <div class="weui-tabbar__icon">
                <img src="./images/default_wap/shop_cart.png" alt="">
            </div>
            <p class="weui-tabbar__label">购物车</p>
        </a>
        <a href="./member_index" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/default_wap/me.png" alt="">
            </div>
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>
<!--底部栏-->