<% include header_index.html %>
<style>
      .weui-navbar{
        overflow: scroll;
        height:44px;
        padding-left: 10px;
        background: white;
    }
    .weui-navbar__item.weui-bar__item--on{
        background: white;
        color: #ff8000;
    }
    .weui-navbar__item{
        width: 80px;
    }
    .weui-navbar__item:after{
        border: none;
    }
    .weui-navbar:after{
        border:none;
    }
    .weui-navbar__item{
        color: #181818;
        font-size: 13px;
    }
    body{
        background: rgb(243,243,243);
    }
    .weui-navbar__item img{
        height:4px;
        display: none;
    }
    .weui-bar__item--on img{
        display: block;
        margin: 0 auto;
        margin-top: 7px;
    }
    .weui-tab__bd{
        width: 100vw;

    }
    .weui-tab{

    }
    .hide1{
        width: 327px;
        float: left;
        height: 44px;
        overflow: hidden;
    }
    .hide{
        width: 100vw;
        overflow:hidden;
        overflow: scroll;
        height:44px;

    }
    ::-webkit-scrollbar {/*隐藏滚轮*/
        display: none;!important;
    }
    .show{
        width: 1200px;
        height:44px;
    }
    .categroy{
        width:68px;
        margin-left: 20px;
        height: 44px;
        line-height: 44px;
        float: left;
        text-align: center;
        font-size: 13px;
        color: #181818;

    }
    .rq{
        background: white;
        height: 44px;
        width: 100vw;
    }
    .selected{
        font-size: 13px;
        color: #ff8000;
    }
    .categroy img{
        height: 4px;
        position: relative;
        top: -4px;
        margin: 0 auto;
        display: none;
    }
    .selected img{
        display: block;
    }
    .down{
        float: left;
        height:15px;
        margin: 14.5px 16.5px;
    }
    .down_div{
        float: left;
        width:48px;
        height: 44px;
    }
</style>
<div class="big_div">
        <top title="积分商城"></top>


        <div class="rq">
                <!-- 容器 -->
                <div class="weui-tab">
                    <div class="hide1">
                        <div class="hide">
                            <div class="show" >
                               
                                <div class="categroy" v-for="(cate,index) in cates" v-if="!down" v-bind:class="{selected:select==index+1}"  v-on:click="get_cate(index,cate.uid)">
                                    {{cate.category_name}}
                                    <img src="images/default_wap/select.png" alt="">
                                </div>
        
                                
                            </div>
                        </div>
                    </div>
                    <div class="down_div"><img class="down" src="images/default_wap/down.png" alt=""></div>
                </div>
        
            </div>
            <!--滚动栏-->

            <img src="images/default_wap/load.png" alt="">
</div>
<script src="dist/top.bundle.js"></script>


<script>
    Vue.use(bundle);
    var page = new Vue({
        el: '.big_div',
        data: {
            select:1,
            down:false,
            index:0,
            cates:[],
            group_list:[]
        },
        methods:{
            get_cate:function (index,cate_uid) {




                this.select=index+1;
            }
        },mounted:function(){
            $.post("./category",{},function (result) {
        page.cates=result;
             });
        }
    });
    
</script>
<% include footer.html %>
