<% include header_index.html %>

<style>

    .header{
        width: 100vw;
        background: white;
    }
    .header_div{
        width: 355px;
        margin: 0 auto;
    }
    .header_div img{
        width: 20px;
        height:20px;
        margin-top: 12px;
    }
    .header_div p{
        font-size: 15px;
        color: #181818;
        line-height: 44px;
        text-align: center;
    }
    .weui-navbar{
        overflow: scroll;
        height:44px;
        padding-left: 10px;
        background: white;
    }
    .weui-navbar__item.weui-bar__item--on{
        background: white;
        color: #ff8000;
    }
    .weui-navbar__item{
        width: 80px;
    }
    .weui-navbar__item:after{
        border: none;
    }
    .weui-navbar:after{
        border:none;
    }
    .weui-navbar__item{
        color: #181818;
        font-size: 13px;
    }
    body{
        background: rgb(243,243,243);
    }
    .weui-navbar__item img{
        height:4px;
        display: none;
    }
    .weui-bar__item--on img{
        display: block;
        margin: 0 auto;
        margin-top: 7px;
    }
    .weui-tab__bd{
        width: 100vw;

    }
    .weui-tab{

    }
    .hide1{
        width: 327px;
        float: left;
        height: 44px;
        overflow: hidden;
    }
    .hide{
        width: 100vw;
        overflow:hidden;
        overflow: scroll;
        height:44px;

    }
    ::-webkit-scrollbar {/*隐藏滚轮*/
        display: none;!important;
    }
    .show{
        width: 1200px;
        height:44px;
    }
    .categroy{
        width:68px;
        margin-left: 20px;
        height: 44px;
        line-height: 44px;
        float: left;
        text-align: center;
        font-size: 13px;
        color: #181818;

    }
    .rq{
        background: white;
        height: 44px;
        width: 100vw;
    }
    .selected{
        font-size: 13px;
        color: #ff8000;
    }
    .categroy img{
        height: 4px;
        position: relative;
        top: -4px;
        margin: 0 auto;
        display: none;
    }
    .selected img{
        display: block;
    }
    .down{
        float: left;
        height:15px;
        margin: 14.5px 16.5px;
    }
    .down_div{
        float: left;
        width:48px;
        height: 44px;
    }

</style>
<div class="big_div">
    <div class="h44 header">
        <div class="header_div h44">
            <img src="images/default_wap/return.png" class="back fl" alt="">
            <img src="images/default_wap/moreblack.png" class="back fr" alt="">
            <p>
                我的社交
            </p>
        </div>
    </div>


    <div class="rq">
        <!-- 容器 -->
        <div class="weui-tab">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                    我的供应
                    <img src="images/default_wap/select.png" alt="">
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    我的求购
                    <img src="images/default_wap/select.png" alt="">
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    我的留言
                    <img src="images/default_wap/select.png" alt="">
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    别人留言
                    <img src="images/default_wap/select.png" alt="">
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <h1>页面一</h1>
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                    <h1>页面二</h1>
                </div>
                <div id="tab3" class="weui-tab__bd-item">
                    <h1>页面三</h1>
                </div>
                <div id="tab4" class="weui-tab__bd-item">
                    <h1>页面四</h1>
                </div>
            </div>
        </div>

    </div>
    <!--滚动栏-->




</div>

<script>
    var page = new Vue({
        el: '.big_div',
        data: {
            select:0,
            down:false,
            index:0,
            cates:[],
            group_list:[]
        },
        methods:{
            get_cate:function (index,cate_uid) {




                this.select=index+1;
            }
        }
    });
    $.post("./category",{},function (result) {
        page.cates=result;
    });

</script>






<!--底部栏-->
<% include footer.html %>
