



<!--<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>-->


<script>
//    $.notification({
//        title: "Baby",
//        text: "I miss you",
//        media: "<img src='...'>",
//        data: "123",
//        onClick: function(data) {
//            $.alert("Click" + data);
//        },
//        onClose: function(data) {
//            $.alert("Close "+data);
//        }
//    });

    //close notification

//    $.closeNotification();
//    关闭通知

</script>
</body>

<script>
    $(".back").click(function () {
        window.history.back();  //返回上一页
    });
</script>
</html>


