.fr{
    float: right;
}
.fl
{
    float: left;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.h44{
    height: 44px;
}
.sl1{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.sl2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.h10{
    height:10px;
    background: #EFEFF4;
}
.bottom{
    width: 100vw;
    height:100px;
    float: left;
}
.weui-tab_xx{
    height:auto;
    width: 100vw;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left:0;
}
.weui-tabbar__label{
    color: #999 !important;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
    color: #ff9302 !important;
}
.weui-tabbar{
    background:#f7f7fa !important;
}
.weui-loadmore{
    clear: left;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
input,textarea{outline:none;}